<%- include("partials/header") -%>
<div class="bg-[#8D8DAA] max-h-[500px] max-w-[500px] m-[20px] p-[10px] rounded">
    
    <p ><strong>City</strong> : <%=name%></p>
    <p ><strong>Country</strong>: <%=country%></p>
    <p><strong>Local Time</strong>: <%=time%></p>
    <p ><strong>Temperature</strong>: <%=temp%> <span>&#176;</span>C</p>
    <img src="<%=icon%>" alt="">
    
    
    
    
</div>
<%- include("partials/footer") -%>